
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
    margin: auto;
}
.quick-contact{
    border-bottom: 1px solid rgb(0 0 0 / 6%);
}
.flex-quick-contact{
    display: flex;
    justify-content: space-between;
}
.flex-quick-access{
    display: flex;
    justify-content: space-between;
}
.flex-quick-contact a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 12px;
    color: #5c768d;
}
.mail-phone i{
    color: #428bca;
    padding-right: 10px;
    font-size: 18px;
}
.socia-contact i{
    font-size: 20px;
}
.flex-quick-contact a:hover{
    color: #428bca;
}
.flex-quick-access h2{
    text-decoration: none;
    font-size: 22px;
    padding-top: 10px;
    color: #444;
    font-family: "Open Sans", sans-serif;
}
.quick-access-manu > .manu-nav > li{
    display: inline;

}
.quick-access-manu .manu-nav a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
   padding: 15px 0 15px 30px;
    font-size: 18px;
    color: #444;
}
.dropdown{
    position: relative;
}
.dropdown .drop-nav{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
   
}
.dropdown > ul >li{
    display: block;
} 


.flex-banner{
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url(/slide/slide-1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}
.flex-banner:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.banner-details{
    position: relative;
    z-index: 1;
}
.banner-details h1{
    display: flex;   
    color: #fff;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}
.banner-details p{
    color: #fff;
    padding-top: 30px;
    line-height: 25px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}
.banner-details button{
   background-color: #428bca;
    padding: 10px 30px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 30px;
}
.banner-details button:hover{
    background-color: #1c5c93;
}


/* ------------about section start----------- */

.about-section{
    padding-bottom: 30px;
    padding-top: 60px;
}
.flex-about-section{
    display: flex;
    box-shadow: 0 0 10px rgb(206, 191, 191);
}
.about-section-image, .about-section-text{
    width: 50%;
}
.aboutimage{
    width: 100%;
    padding: 10px;
}
.about-text-title{
    text-align: center;
    padding-top: 60px;
}
.about-text-title h2{
    color: #5c768d;
    font-family: "raleway", sans-serif;
    font-size: 32px;
    padding-bottom: 20px;
}
.about-text-title p{
    color: #666;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
    padding-right: 15px;
    line-height: 25px;
}
.about-list{
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
}
.about-icon{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #428bca;
    background-color: #f1f7fb;
    width: 65px;
    height: 65px;
    border-radius: 6px;
    transition: all 0.6s ease;
}
.about-icon:hover {
    background-color: #2196f3;
    color: #fff;
}

.about-text{
    width: 80%;
    padding-left: 20px;
}
.about-text h3{
    font-size: 18px;
    padding-bottom: 10px;
    font-family:  "Raleway", sans-serif;
    
}
.about-text p{
    line-height: 23px;
    color: #444;
    font-family: "Open Sans", sans-serif;
}







/* ---------------------about section ends---------- */
/* -------features section starts------------------ */


.features-list-a, .features-list-b{
    display: flex;
    width: 100%;
 
}
.features-list{
    width: 33.33%;
    padding-left: 40px;
    padding-top: 20px;
    border: solid 1px #d9e8f4;
    border-top: 0;
}
.features-para{
    font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding-right: 60px;
    padding-bottom: 25px;
    color: #aaaaaa;
}
.features-list:nth-child(1),
.features-list1:nth-child(1){
    border-left: 0;
}
.features-list:nth-child(3),
.features-list1:nth-child(3){
    border-right: 0;
}
.features-list1{
    width: 33.33%;
    padding-left: 40px;
    padding-top: 40px;
    border: solid 1px #d9e8f4;
    border-bottom: 0;
}
.flex-features span{
    font-size: 25px;
    color: #9eccf4;
    padding-top: 30px;
}
.flex-features{
    padding-top: 40px;
    padding-bottom: 30px;  
}
.flex-features h3{
    font-family:  "Raleway", sans-serif;
    color: #444;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ---------------features sec ends--------------------- */

/* ---------------clients sec starts--------------------- */


.clients{
    background-color: #f5f9fc;
    padding-top: 60px;
    padding-bottom: 60px;
}
.flex-clients{
    display: flex;
}
.clients-list{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
   
}
.client-list1{
    background-color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%) ;
}
.client-list1 span{
    font-size: 40px;
    font-weight: 700;
    color: #1c5c93;
    font-family: "Open Sans", sans-serif;
    
}
.client-list1 p{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    padding-bottom: 20px;
}

/* --------------clients sec ends---------------------- */

/* --------------services sec starts---------------------- */


.services{
    padding-top: 40px;
    padding-bottom: 40px;
}
.services h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    color: #5c768d;
    padding-bottom: 40px;
}
.services-sec{
    display: flex;
    flex-wrap: wrap;
}
.services-sec .services-box{
    width: 33.33%;
    
}
.services-content{
    padding-top: 20px;
    padding: 15px;
}
.services-content .serivice-icon {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
    background-color: #fff;
    box-shadow: 0 0 10px #b0cce4;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto 25px;
    transition: all 0.5s ease;
}
.serivice-icon{
    font-size: 45px;
    color: #2196f3;
}
.serivice-text{
    text-align: center;
}
.text-ul{
    width: 60px;
    height: 2px;
    background-color: #2196f3;
    margin: 15px auto;
}
.serivice-text h4{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #444;
}
.serivice-text p{
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
    color: #444;
    font-size: 15px;
}
.services-box:hover .services-content .serivice-icon{
    box-shadow: 0 0 20px #428bca;
} 

/* -------------services sec ends----------------------- */

/* about section icon insert................ */






/* ........about section icon completed */


/* portfolio section start............ */

.portfolio{
    background-color: #f5f9fc;
}

.portfolio-title h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #5c768d;
    font-family: "Open Sans", sans-serif;
    padding-top: 70px;
    padding-bottom: 25px;
}

.portfolio-title p{
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 25px;
}


.flex-portfolio{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.portfolio-box{
    width: 33.33%;
   
    
}
.portfolio-content{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.portfolio-content img{
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
   
}
.portfolio-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 53, 72, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease; 
}
.portfolio-first-text{
    transform: translateY(-20px);
    transition: all 0.5s ease; 
}
.portfolio-content:hover .portfolio-first-text{
    transform: translateY(0px);
    opacity: 1;
}


.portfolio-first-text h4{ 
    font-size: 22px;
    display: flex;
    color: #fff;
    font-family: "Open Sans", sans-serif ;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}
.portfolio-first-text p{
    display: flex; 
    justify-content: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif ;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 15px;
}

.portfolio-link{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.portfolio-link a{
    text-decoration: none;
    color: rgb(117, 68, 68);
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    line-height: 35px;
    align-items: center;
    transition: all 0.5s ease;
    font-size: 18px;
}
.portfolio-content:hover .portfolio-text{
    opacity: 1;
}
.portfolio-content:hover img{
    transform: scale(1.1);
}
.portfolio-link a:hover {
    background-color: blueviolet;
    color: #fff;
}


/* -------------fortfolio sec ends----------------------- */

/* -------------our team section start------------------ */

.profile-title h2{
    font-size: 35px;
    color: #5c768d;
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif,"Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
}
.profile-title p{
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #444;
    padding-bottom: 20px;
}

.flex-profile{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.profile-box{
    width: 25%;
    
}
.profile-sec{
    position: relative;
    padding: 13px;
   
}
.profile-sec:hover .profile-pic img{
    transform: scale(1.1);
}
.profile-pic{
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}
.team-profile{
    width: 100%;
    height: auto;
}
.profile-pic img{
    transition: all 0.5s ease;
    border-radius: 5px;
    
}
.profile-bio{
    position: absolute;
    left: 36px;
    right: 36px;
    bottom: -20px;  
    background: linear-gradient(360deg, rgb(92, 118, 141) 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.profile-bio h4{
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: #fff;
}
.profile-bio .name-ul{
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin: 5px auto;
}
.profile-bio p {
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-icon a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}
.profile-icon a:hover{
    color: #87a5be;
}

/* --------our team sec ends------------------------ */


/* ------------faq sec start---------------------- */

.faq-section{
    background-color: #f5f9fc;
}


.faq-title h2{
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    color: #5c768d;
    font-family: "Raleway", sans-serif,"Open Sans", sans-serif;
}

.flex-faq{
    display: flex;
    flex-wrap: wrap;
}
.faq-box{
    width: 50%;
}
.faq-sec{
    padding: 10px;
    margin-bottom: 40px;
}
.faq-sec h4{
    display: flex;
    font-size: 20px;
    font-family: "Open Sans", sans-serif,"Raleway", sans-serif;
    color: #1f3548;
    line-height: 27px;
    margin-bottom: 15px;
}
.faq-sec p{
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
    color: #444;
}

/* ---------------faq sec ends--------------------- */

/* --------------contact us starts---------------------- */


.contact-title{
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #5c768d;
    font-family: "Raleway", sans-serif,"Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 25px;
}

.flex-contact-us{
    display: flex;
}
.address-box{
    width: 50%;
    padding: 10px;
}
.address-box-content{
    display: block;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding-top: 30px;
    padding-bottom: 30px;
}
.address-box-content i{
    font-size: 25px;
    color: #428bca;
    border: 2px dotted #9eccf4;
    border-radius: 100%;
    padding: 6px;
}
.email-box{
    width: 25%;
    padding: 10px;
}
.call-box{
    width: 25%;
    padding: 10px;
}
.address-box-content h4{ 
    font-size: 22px;
    color: #666;
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.address-box-content p{
    line-height: 25px;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #444;
}
.email-box p{
    margin-bottom: 0;
} 
.call-box p{
    margin-bottom: 0;
}
.address-box p{
    padding-bottom: 25px;
}
.flex-contact-us{
    padding-top: 20px;
}

/* -------form section------ */

/* .container{
    padding-bottom: 20px;
} */

.flex-form{
    margin: 0 10px;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}

.form-sec{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.type50{
    width: 50%;
    padding: 0 25px;
}
.type100{
    width: 100%;
    padding: 0 25px;
}
.user-input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: solid 1px #ced4da;
}
.user-input:focus{
    outline: 0;
    border: solid 1px #0d6efd;
}
.from-group{
    margin-bottom: 20px;
}
.from-group textarea {
    height: 150px;
    resize: none;
}
.from-button{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.from-button button{
    padding: 15px 40px;
    font-size: 17px;
    background-color: #428bca;
    border: 0;
    color: #fff;
}



/* -----------footer section pratice------- */


.footer{
    background-color: #587187;
    padding-top: 60px;
    padding-bottom: 50px;
}
.flex-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-contact{
    padding-left: 15px;
}
.footer-list{
    flex: 1 0 0;
}
.footer-newsletter{
    flex: 0 0 auto;
    width: 33%;
}
.footer-list .footer-logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    font-family: "Raleway", sans-serif;
}
.footer-contact p{
    font-size: 15px;
    line-height: 25px;
    padding-top: 20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.footer-social-link a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff; 
    margin-top: 20px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    line-height: 35px;
    background-color: #768fa6;
    transition: all 0.5s ease;    
}
.footer-social-link a:hover{
    background-color: #428bca;
}
.footer-links{
    padding-left: 35px;
}
.footer-list h4{
    color: #fff;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: "Raleway", sans-serif;
}
.footer-list ul{
    list-style: none;
}
.footer-list ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease; 
}
.footer-list ul li{
    padding: 10px 0;
}
.footer-list ul li i{
    font-size: 16px;
    color: #9eccf4;
}
.footer-list ul li a:hover{
    color: #9eccf4;
}
.footer-newsletter p{
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.footer-form{
    display: flex;
    padding-top: 30px;
    padding-right: 10px;
}
.footer-email{
    width: 100%;
    padding:0 35px;
    height: 40px;
    border: 0;
}
.footer-submit{
    padding: 0 25px;
    background-color: #428bca;
    color: #fff;
    font-size: 16px;
    border: 0;
}
.flex-legel{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.legel{
    background-color: #607383;
    border-top: 1px solid rgb(138, 141, 143);
}
.legel a{
    text-decoration: none;
    color: #9eccf4;
}
.legel p{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}